.julekugle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;   /* Fixed height for the container */
    width: 100%;      /* Takes up the full width of the parent container */
    border: 2px solid #d3a14d; /* Border around the .julekugle element */
}

.julekugle img {
    width: 80%;   /* Set the width to 80% of the parent container */
    height: auto; /* Maintain aspect ratio */
}

.h1-og-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.h1 {
    font-family: 'Great Vibes', cursive;
    color: #d3a14d;
    font-size: 3.5rem; 
    margin-bottom: 1.5rem;
}

.dotted-line-1 {
    display: flex;
    justify-content: center;  
    align-items: center;   
    margin-bottom: 1rem;
    width: 15rem;
    border: #d3a14d;
    border: dotted;
}

.info {
    display: flex;     
    justify-content: center;  
    align-items: center;     
    text-align: center;
    width: 50rem;           
    height: 150px;           
    padding:20px; 
    color: white;   
    margin-bottom: 1;     /* Ved media queries husk at indsætte, så margin-bottom ændrer sig i procent - På den måde går jule-links og informationen ikke sammen på mobil */
 }


.jule-links {
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: -15rem;
    gap: 15%;
    font-size: 1.5rem;
    font-weight: bold;

}


.dotted-2-container {
    display: flex;          
    justify-content: center;  
    align-items: center;                
  }
  
  .dotted-line-2 {
    width: 20rem;             
    border: 2px dotted #d3a14d; 
    margin-top: -15%;  
    width: 50rem;              
  }

  .jul-hos {
    display: flex;          
    justify-content: center;  
    align-items: center; 
    margin-top: -5%;
  }

  .solid-line-container {
    display: flex;          
    justify-content: center;  
    align-items: center; 
  }

  .solid-line {            
    border: 1.5px solid #d3a14d; 
    margin-top: -8%;  
    width: 10rem;              
  }


.tekst-container {
    display: flex;     
    justify-content: center;  
    align-items: center;     
    text-align: center;
    margin-top: -11%;
}

  .jul-tekst {
    width: 50rem;           
    height: 150px;           
    padding:20px; 
    color: white; 
    margin-bottom: -7rem; 
  }

  .laes-mere {
    display: flex;     
    justify-content: center;  
    align-items: center;  
    color: white;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .solid-line-white {

  }

  .solid-line-white-container {
    display: flex;          
    justify-content: center;  
    align-items: center;                
  }
  
  .solid-line-white {
    width: 20rem;             
    border: 1.5px solid white;
    margin-top: -15%;  
    width: 50rem;              
  }

  .november {
    display: flex;     
    justify-content: center;  
    align-items: center;  
    margin-top: -10%;
    font-weight: bold;
  }


  #grid-container {
    display: grid;
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    
    /* Define two columns for the grid */
    grid-template-columns: repeat(2, 1fr); /* This creates two equal-width columns */

    margin: 0 auto; /* Center the grid container itself */
    margin-bottom: 10rem; /* Space at the bottom */
    margin-top: -3%;
    
}

.grid {
    min-height: 500px;
    max-height: 550px;
    
}



.grid img {
    width: auto;
    height: 600px;
    object-fit: cover;
}

.proev {
    margin-top: 5%;
    margin-bottom: 3%;
    font-weight: bold;
}

.solid-line-short {
    width: 8rem;             
    border: 1.5px solid white;
}

.laes-mere2 {
    display: flex;     
    justify-content: center;  
    align-items: center;  
    color: white;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 79.9%;
}

.julekalender-parent {
    display: flex;          
    justify-content: center;  
    align-items: center; 
    margin-bottom: 2.5%;
   
}

.julekalender-tekst-container {
    display: flex;     
    justify-content: center;  
    align-items: center;     
    text-align: center;
    margin-top: -11%;
}

  .julekalender-tekst {
    width: 50rem;           
    height: 150px;           
    padding:20px; 
    color: white; 
    margin-bottom: -7rem; 
  }

  .laes-mere3 {
    margin-top: -2%;
    display: flex;     
    justify-content: center;  
    align-items: center;  
    color: white;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 3%;
  }

.laage {
    display: flex;     
    justify-content: center;  
    align-items: center;  
    margin-bottom: 5%;
    height: auto;
}

.dotted-line-2 {
    display: flex;     
    justify-content: center;  
    align-items: center;  
}