body {
  background-color: black;
  background-image: url("../img/lille-juletre.png");
}

main {
  display: flex;
  flex-wrap: wrap;
}

.juletrae {
  width: 100%;
  height: auto;
  z-index: -1;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

.laagen {
  width: 300px;
  height: 300px;
}

.julekugle-box {
  width: 30%;
  box-sizing: border-box;
  margin-top: -26px;
}

.julekugle-kalender {
  width: 100%;
  height: auto;
}


/* Desktop (min-width: 769px) */
@media only screen and (min-width: 769px) {
  .main {
    flex-direction: row;
  }

  .julekugle-box {
    width: 30%;
  }

  .box-1 {
    width: 70%;
  }
}

/* Tablet (min-width: 481px and max-width: 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* .julekugle-box,
  .main {
    width: 100%; */

    .main {
      flex-direction: column;
    }
  
    .julekugle-box,
    .box-1 {
      width: 100%;
      max-width: 500px;
      margin-bottom: 30px;
    }
  
    h1 {
      font-size: 1.8rem;
    }
}


/* Telefon (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .main {
    flex-direction: column;
  }

  .julekugle-box,
  .box-1 {
    width: 100%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .laagen {
    max-width: 280px;
  }

  .julekugle-kalender {
    height: 250px;
    width: 200px;
    padding-top: 20px;
  }
}