* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: 'Pacifico', cursive; /* Example font; adjust as needed */
    color: #d3a14d; /* Gold color */
    text-align: center;
    font-size: 3rem; /* Adjust for size */
    margin-bottom: 30px;
}