* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #d3a14d;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #000;
}

.logo img {
  height: 100px;
  width: 150px;
  padding: 5px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  margin: 0 18px;
}

.nav-links a {
  display: flex;
  color: #d3a14d;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  color: white; 
}

.order-button {
  padding: 16px 40px;
  background-color: black;
  color: #d3a14d;

  border: 2px dotted #d3a14d;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.order-button:hover {
  color: white;
  background-color: #d3a14d;
}

.menu-checkbox {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; 
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #000;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: #d3a14d;
  }

  .menu-checkbox:checked + .menu-icon + .nav-links {
    display: flex;
  }
}
