* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.juletrae {
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  .julekugle {
    position: absolute; /*husk mobile first*/
    top: 57%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
  }

  .overlay-text {
    position: absolute;
    top: 70%; /* Adjust vertical position as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10%; /* Space between links */
    font-size: 35px;
    font-family: Arial, sans-serif;
  }

  .overlay-text a {
    color: #d3a14d; /* Gold color */
    text-decoration: none;
    font-weight: bold;
}

.overlay-text a:hover {
    text-decoration: none;
    color: #d3a14d;
}

h2{
    font-size: 50px;
}

.order-button2 {
    padding: 16px 40px;
    color: #000;
    background-color: #d3a14d;
    border: 2px dashed #d3a14d;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.order-button2:hover {
    background-color: black;
    color: #d3a14d;
}

.overskrift{
    display: block;
    text-align: center;
}